    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="donate_form" id="donate_form">
      <input name="item_merchant_id_1" type="hidden" value="GO_ClearWater"><!-- #BeginLibraryItem "/library/clearwater_header.lbi" -->
      <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="QK7EQK2P9CW4W">
      <input type="hidden" name="return" value="http://www.giveclearwater.org/thankyou/donation.php?utm_nooverride=1">
      <input type="hidden" name="cancel_return" value="http://www.giveclearwater.org/index.html?utm_nooverride=1">
    </form>