    <footer class="footer"> 
      <div class="footer_inner">
          <div id="go_logo" class="footer_logo">
        		<a href="http://www.groundworkopportunities.org" target="_blank"><img src="images/go_white.png" alt="groundwork opportunities" /></a>
          </div>
          <div id="angel_logo" class="footer_logo">
        		<a href="http://www.savinganangel.org" target="_blank"><img src="images/saving_an_angel.png" alt="saving an angel" /></a>
          </div>
          <div id="ran_logo" class="footer_logo">
        		<a href="http://www.ran.org" target="_blank"><img src="images/ran.png" alt="rainforest action network" /></a>
          </div>
          <div id="aw_logo" class="footer_logo">
        		<a href="http://www.amazonwatch.org" target="_blank"><img src="images/amazon_watch.png" alt="amazon watch" /></a>
          </div>
          <div id="frente_logo" class="footer_logo">
        		<a href="http://www.texacotoxico.org/eng/" target="_blank"><img src="images/frente.png" alt="frente de la defensa de la amazonia" /></a>
          </div>
      </div>
    </footer>