<footer> 
  <ul class="container">
      <li>
    		<a href="http://www.groundworkopportunities.org" target="_blank"><img src="images/go_white.png" alt="groundwork opportunities" /></a>
      </li>
      <li>
    		<a href="http://www.savinganangel.org" target="_blank"><img src="images/saving_an_angel.png" alt="saving an angel" /></a>
      </li>
      <li>
    		<a href="http://www.ran.org" target="_blank"><img src="images/ran.png" alt="rainforest action network" /></a>
      </li>
      <li>
    		<a href="http://www.amazonwatch.org" target="_blank"><img src="images/amazon_watch.png" alt="amazon watch" class="aw_logo" /></a>
      </li>
      <li>
    		<a href="http://www.texacotoxico.org/eng/" target="_blank"><img src="images/frente.png" alt="frente de la defensa de la amazonia" class="frente_logo" /></a>
      </li>
  </ul>
</footer>