<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,bold|Lobster|Nobile|PT+Sans|Crushed|Syncopate" type="text/css" media="screen">
  
  <title>Give ClearWater to the people of Ecuador</title>
  <meta name="description" content="ClearWater aims to provide sustainable clean water relief to more than 2000 indigenous and farmer families spread across 20 villages and hamlets in the oil-ravaged areas of the northeastern Ecuadorian Amazon. The absence of readily available clean water in the region has contributed not only to a health emergency, but also cultural loss, developmental disabilities among children and economic impoverishment.">
  
  <meta content="Give ClearWater to the people of Ecuador" property="og:title">
  <meta content="ClearWater aims to provide sustainable clean water relief to more than 2000 indigenous and farmer families spread across 20 villages and hamlets in the oil-ravaged areas of the northeastern Ecuadorian Amazon. The absence of readily available clean water in the region has contributed not only to a health emergency, but also cultural loss, developmental disabilities among children and economic impoverishment. " property="og:description">
  <meta content="Give ClearWater" property="og:site_name">
  <meta content="http://act.ran.org/images/cvx_clearwater_share_150x150.gif" property="og:image">
  <meta content="http://www.giveclearwater.org/" property="og:url">
  <link href="http://act.ran.org/images/cvx_clearwater_share_150x150.gif" rel="image_src">
  
  <link rel="stylesheet" href="assets/site.css" type="text/css" media="screen" />

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js"></script>

  <script type="text/javascript">
    window._gaq = [['_setAccount','UA-28551290-1'],['_trackPageview']];
    yepnope({
      load: ['//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
             'assets/site.js'
            ]
    });
  </script>

</head>
<body>

<header class="header">

  {% include donate_form.html %}
  {% include en/nav.html %}

</header>

<div class="container">
    
  <aside class="social_container">

  </aside>

  <nav class="language clearfix">
  	<ul> 
      <li><a href="en">English</a></li> 	
      <li><a href="de">Deutsch</a></li> 
    </ul>
  </nav>
      
  <header class="page clearfix">
    <aside class="progress">
      <ul>
        <li>
            <div class="onewish_name">fundraising goal</div>
            <div class="onewish_number">$250,000</div>
        </li>
        <li>
            <div class="onewish_name">amount raised</div>
            <div class="onewish_number">$132,134</div>
        </li>
        <li>
            <div class="onewish_name">progress made</div>
            <div class="onewish_number">53%</div>
        </li>
      </ul>
    </aside>
  	<h3>{{ page.subtitle }}</h3>
  	<h1>{{ page.title }}</h1>
  </header>
            
  <section class="video">
    
    <div class="video-embed">
      <iframe src="http://player.vimeo.com/video/42667819?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    
  	<a class="donate_btn" href="javascript:document.donate_form.submit();">support clearwater</a>   

  </section>
  
  <section class="content">
    
  {{ content }}
    
  </section>
  
</div>
    
{% include footer.html %}
    
{% include en/footer_copyright.html %}

</body>
</html>
